
<div id="card-deck" >
<% missingPeople.forEach(function(person){ %>
	<% if( person.id == 1){%>
    <div class="buddy card-<%= person.id%> current" style="display: block;">
	<% }else{%>
		 <div class="buddy card-<%= person.id%>" style="display: block;">
	<% }%>
			<p hidden class="missingPeopleId"><%=person.id %></p>
			<div class="avatar"  style="display: block;">
				<div class="missing_people_deck_<%= person.id%>" style="display: block;">
						<div class="col-xs-6"><div class="photo" style="max-height:160px;background:#fff;">
							<% if (person.picture) {%>
							<img src="/uploads/<%= person.picture%>" alt="Mountain View" style="max-width:100%;
max-height:100%;"/>
							<%}else{%>
							<img src="/uploads/minions.jpeg" alt="Mountain View" style="max-width:100%;
								max-height:100%;"/>
								<%}%>
						</div>
					</div>
						<div class="col-xs-6">
							
							<p><strong><%= person.firstname%> <%= person.lastname%></strong></p>
							<p><strong><%= person.age%> Years Old</strong></p>
							<p><strong><%= person.height%> CM</strong></p>
							<p><strong><%= person.weight%> KGS</strong></p>
							<p><strong><%= person.location%></strong></p>
						</div>

					  <div class="clr" style="height:10px;"></div>
						<div class="col-xs-12">
							<p><strong>Description</strong></p>
							<p>
								<%= person.description%>
							</p>
						</div>	
						<% if (person.note) {%>
						<div class="col-xs-12">
							<p><strong>Note</strong></p>
							<p>
								<%= person.note%> 
							</p>
						</div>
						<%}%>
						<div class="col-xs-12">
							<p><strong>Last Seen</strong> <%= person.lastseen%></p>
						</div>
				</div>
			</div>
		</div>
<% }); %> 
</div>
    
<% include .././missing/citizenFound %> 

