<<<<<<< HEAD
<div class="row">
<!-- private wall content -->
	<div class="" style="margin: 0 auto;width:80%;padding-top:0px; display:none;"  id="private_room">
  <div class="clr" style="height:2vh;"></div>              
	 
     
     <div style="height:68vh;overflow-y: auto; display:block" id="private_messages">	
     					               
		<ul id="privMsgList"  style="list-style-type:none;-webkit-padding-start: 0px;">
		</ul>
     </div>                 
=======
<div class="row" id="private_chat">
<!-- public wall content -->
	<div class="" style="margin: 0 auto;width:80%;padding-top:0px;">
  <div class="clr" style="height:2vh;"></div>              
	<div style="height:68vh;overflow-y: auto;" id="public_messages">						               
		<ul id="messages" class="messages" style="list-style-type:none;-webkit-padding-start: 0px;">
			 <% chatHistory.forEach(function(msg){ %>
				 <li class=\"messages_item\">
				 <blockquote><p>
					 <span class=\"chat_author\"><%= msg.chatauthor%>: </span>
							<%= msg.chatmessage%> 
							<span class=\"chat_timestamp\">
								<small><%= msg.createdAt%></small>
							</span>
					</p></blockquote>
				</li>
		
			  <%  });  %>
		</ul>
     </div>                  
>>>>>>> 58235065ae5723f298cf4f401d751ec631253fa2
                                
      <div class="clr" style="height:2vh;"></div>                                  
		<!-- message text box-->
		<div style="">
<<<<<<< HEAD
		<div class="room" style=""> 
=======
		<div class="well" style=""> 
>>>>>>> 58235065ae5723f298cf4f401d751ec631253fa2
			<form class="form" action="/message" method="post"> <!--POST to backend-->
				<p hidden id="user"><%=user.username %></p>
				<p hidden id="location"><%=user.location %></p>
				<p hidden id="status"><%=user.statusid %></p>
				<div class="input-group text-center">
<<<<<<< HEAD
	
					<input type="text" class="form-control input-lg privInputMessage" placeholder="Type here...">
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" id="privSubmitMessage" type="button">OK</button>
=======
					<input type="text" class="form-control input-lg inputMessage" placeholder="Type here...">
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" id="submitMessage" type="button">OK</button>
>>>>>>> 58235065ae5723f298cf4f401d751ec631253fa2
					</span>
				</div>
			</form> 
		</div> 
	</div>                         
	</div>
</div>