<% layout('./layouts/layout') -%>
	<h1><%= user.username%></h1>
	<p>Status: <%= user.status%></p>
	<p>Role: <%= user.role%></p>
	<p>Last login: <%= user.lastLoginTime%></p>
	
	
	<ul>
	<% for(var i=0; i<users.length; i++) {%>
	   <li><%= users[i].username %></li>
	<% } %>
	</ul>